.header {
    position: relative;
    width: 100%;
    background-color: #003366; /* Dark blue background */
    color: #ffffff;
    text-align: center;
}

.header-banner {
    position: relative;
}

.header-banner-image {
    width: 100%;
    height: auto;
    display: block;
}

.header-content {
    padding: 20px;
}

.header-title {
    font-size: 2.5rem;
    margin: 0;
}

.header-subtitle {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 300;
}
